@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color:white;
    font-weight: 400;
    overflow: scroll;
}
.container{
    /* border: 2px solid red; */
    display: flex;
    min-width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.first{
    /* border: 2px solid red; */
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
    width: 20rem
}
.icons{
    display: flex;
    gap: 1rem;
}
.logo{
    width: 8rem
}
.folder,.share,.document{
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    padding: 0.8rem;
    align-self: center;
}
.second{
    /* border: 2px solid red; */
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    width: 20rem;
    position: relative;
    padding-bottom: 3.3rem;
}
.sec-content-para{
    color: hsl(229, 7%, 55%);
    font-size: 14px;
}
p > span{
    font-size: 14px;
    color: white;
}
.range-storage-div{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap:0.4rem;
    /* justify-content: space-between; */
    width:100%;
    font-size: 12px;
}
.range{
    height: 1rem;
    background-color: hsl(229, 57%, 11%);
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.range > span{
    display: inline-block;
    /* border: 2px solid red; */
    /* background-color: white; */
    height: 0.9rem;
    background:linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 78%;
    border-radius: 50px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.range > span > p{
    background-color: white;
    border-radius: 50%;
    padding: 6px;
}
.storage{
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: 11px;
}
.hover-div{
    background-color: white;
    color:black;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    position: absolute;
    bottom: -2.2rem;
    display: flex;
    align-items: center;
}
.hover-div > p{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    gap: .8rem;
}
.hover-div > p > span{
    color:hsl(229, 7%, 55%);
    font-size: 14px;
}